# Optional: Connect live backend API (Leave empty to use built-in 82 static articles)
NEXT_PUBLIC_API_URL=https://api.iposathi.com

# Domain and AdSense
NEXT_PUBLIC_SITE_URL=https://www.latestupdatesdaily.com
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-3558002792545976
