# Optional environment variables (Project works 100%% out of the box with zero envs)
NEXT_PUBLIC_SITE_URL=https://www.latestupdatesdaily.com
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-3558002792545976
# NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
